{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body>
    <forms>
        Username:<input type="text" name="Username" value="enter your name"><br>
        Password:<input type="password" name="password" value="enter your password">
        <h2>GENDER</h2>
        <input type="radio" name="Gender">Male<br>
        <input type="radio" name="Gender">Female<br> 
        <h2>HOBBIES</h2> 
        <input type="checkbox">Singing<br>
        <input type="checkbox">Playing<br>
        <input type="checkbox">Reading<br>
        <h2>COURSES</h2>
        <select size="3" multiple>
            <option>C</option>
            <option>C++</option>
            <option>JAVA</option>
            <option>PYTHON</option>
        </select>
        <h2>FILE UPLOAD</h2>
        <input type="file" name="file">
        <h2>ADDRESS</h2>
        <textarea rows="5" cols="50">
        </textarea><br><br>
        <input type="button" value="submit">

     </forms>
    
</body>
</html>