{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
    <table border="2">
        <caption><h5>SAMPLE TABLE</h5></caption>
        <tr>
            <th>NAME</th>
            <th>CLASS</th>
            <th>MARKS</th>
        </tr>
        <tr>
            <td>Geetha</td>
            <td>9th</td>
            <td>580</td>
        </tr>
        <tr>
            <td>Srihari</td>
            <td>9th</td>
            <td>560</td>
        </tr>
        <tr>
            <td>Leena</td>
            <td>9th</td>
            <td>590</td>
        </tr>
    </center>
    </table>
    
</body>
</html>